body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 340px;
}

.helper {
  display: grid;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  overflow: hidden;

}

picture img {
  display: block;
  border-radius: inherit;
}

article {
  padding: 24px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 12%, 48%);
  font-family: Montserrat;
  font-size: 14px;
}

article h3 {
  margin: 0;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 5px;
}

article h1 {
  margin: 0;
  padding: 5px 0;
  font-family: Fraunces;
  font-weight: 700;
  font-size: 32px;
  color: hsl(212, 21%, 14%);
}

.prices {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.prices .new_price {
  font-family: Fraunces;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}

.prices .old_price {
  margin-left: 20px;
  font-family: Montserrat;
  font-size: 13px;
  text-decoration-line: line-through;
}

.addToCard {
  margin: 5px 0;
}

.addToCard p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 15px 0;
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.addToCard p svg {
  padding-right: 10px;
}

footer {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 425px) {


  section {
    min-width: 580px;
  }

  .helper {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    grid-column: span 2;
  }
}